<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AddressBook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AddressBook.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome/font-awesome/css/all.css">


    <!-- Favicon-->
  <link rel="shortcut icon" href="~/img/Favicon/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
</head>
<body>
    <!-- navbar-->
  <header class="header">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid mx-3 mx-lg-5">
          <div>
            <a href="https://glayton.com" class="navbar-brand">
               <img src="~/img/Branding/logoDark.svg" alt="Greg Layton logo" height="36" class="d-none d-lg-inline-block">
            </a>
          </div>
          <div>
            <span class="logoFont  ms-lg-1" style="font-size:30px;">Asp.Net Address Book</span>
          </div>
           <button type="button" data-bs-toggle="collapse" data-bs-target="#navbarcollapse"
               aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
               class="navbar-toggler position-absolute top-0 start-0"><span class="fa fa-bars hamburgerIcon fa-2x"></span>
           </button>

        <div id="navbarcollapse" class="collapse navbar-collapse">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link link-scroll" asp-area="" asp-controller="Home" asp-action="Index" >Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-scroll" asp-area="" asp-controller="Contacts" asp-action="Index">The App</a>                
            </li>
            <li class="nav-item">
                <a href="https://glayton.com/#about" target="_blank" class="nav-link link-scroll">About Me</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
    <div class="container">
        <main role="main" class="pb-3 ">
            @RenderBody()
        </main>
    </div>

    <footer class="footer py-2 mt-auto">
        <div class="container-fluid ">
            <div class="row row-cols-1 row-cols-lg-3 gy-lg-2 mx-lg-5">
                <div class="col order-last order-lg-first d-none d-lg-block">
                    <div><span class="copyright">&copy;2022</span> Greg Layton | Greg@glayton.com</div>
                </div>
                <div class="col d-flex align-items-center justify-content-start justify-content-lg-center">
                    <a href="https://glayton.com/" target="_blank">
                        <img src="~/img/Branding/fullLogoDark.svg" alt="Greg Layton Logo" height="50">
                    </a>
                </div>
                <div class="col align-items-center justify-content-start justify-content-lg-end d-none d-lg-flex">
                    <div class="row">
                        <div class="col social">
                            <a href="https://www.linkedin.com/in/greg-layton-tx39191" target="_blank">
                                <i class="fab fa-linkedin fa-2x"></i>
                            </a>
                        </div>
                        <div class="col social">
                            <a href="https://github.com/GLayton-TX?tab=repositories" target="_blank">
                                <i class="fab fa-github fa-2x"></i>
                            </a>
                        </div>
                        <div class="col social">
                            <a href="#" target="_blank">
                                <i class="fab fa-twitter fa-2x"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
