@{
    ViewData["Title"] = "Home Page";
}

        <div class="container px-4">
            <div class="row g-5 py-5" row-cols-1 row-cols-lg-2>
                <div class="col order-last order-lg-first ">
                    <h1 class=" border border-4 rounded-pill text-center lh-1 logoBG"><span class="logoFont">Address-Book</span></h1>
                    <h3 class="mb-3">An ASP.Net MVC Project</h3>
                    <h4 class="lead">Create, Edit and Delete Contacts in a Database backed address book. Contacts complete with uploadable avatar's.
                        All entries persist through a PostGresSQL database.
                    </h4>
                    <ul class="fa-ul pt-2 checklist">
                        <li><span class="fa-li"><i class="fa fa-check-square"></i></span>ASP.Net MVC</li>
                        <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Bootstrap</li>
                        <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Html and CSS</li>
                        <li><span class="fa-li"><i class="fa fa-check-square"></i></span>C# Functions and Operators</li>
                        <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Database connection</li>
                        <li><span class="fa-li"><i class="fa fa-check-square"></i></span>Razor page rendering</li>
                    </ul>
                    <div>
                        <a asp-controller="Contacts" asp-action="Index" type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2">Try It
                            Out!</a>
                    </div>
                    
                        <div class="d-flex mt-4">
                            <div class="row row-cols-2 row-cols-lg-4">
                                <div class="col"><i class="fab fa-js-square fa-3x jsIcon"></i></div>
                                <div class="col"><i class="fab fa-bootstrap fa-3x bsIcon"></i></div>
                                <div class="col"><i class="fab fa-html5 fa-3x html5Icon"></i></div>
                                <div class="col"><i class="fab fa-css3-alt fa-3x cssIcon"></i></div>
                            </div>
                        </div>
                    
                </div>
                <div class="col">
                    <img src="~/img/contacts.png" alt="Address book icon" 
                    class="img-fluid center-block d-block mx-auto mt-5">
                    <a class="imageAttrib d-flex justify-content-center mt-4" href="https://www.flaticon.com/free-icons/contacts"
                        title="contacts icons">Contacts icons created by Freepik - Flaticon</a>
                </div>
            </div>
        </div>

